.DS_Store
*/db/
*/*.qpf
*/*.qsf
*/*.qws
*/*.bak
*/*.rpt
*/incremental_db/
*/output_files/
*/simulation/
Report/Report.aux
Report/Report.fdb_latexmk
Report/Report.synctex.gz
Report/Report.fls
Report/Report.log
Report/Report.toc
